/*
  Author: Lukas Pacher - Radiant Designs.
*/

@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital@1&family=Luckiest+Guy&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap"); */

html {
  font-family: "Luckiest Guy", sans-serif;
}

body {
  /* default margin und padding entfernen */
  margin: 0;
  padding: 0;
  background: url("../img/top.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: #24252a;

  /*min-height: 100vh; */
}

/*1em = 16px */

header {
  border-bottom: 1px solid #ffffff;
}

h1 {
  font-size: 8vh;
  margin-left: 3vw;
}

h1 a {
  /*keine Linie unterhalb Link*/
  text-decoration: none;
  color: #8d1930;
}

h2 a {
  /*keine Linie unterhalb Link*/
  text-decoration: none;
  color: #8d1930;
}

h2,
li,
p {
  font-family: "Grandstander", sans-serif;
  color: white;
}

nav {
  /* 100% der Bildschirmbreite für Navigationsleiste verwenden */
  width: 100vw;
}

nav ul {
  /* default margin und padding entfernen */
  margin: 0;
  padding: 0;
  /* list-style: none; */
  /*this option by default dispose the elements in a row (flex-direction: row)*/
  display: flex;
  justify-content: center;
}

/* 1. Entweder display: flex im ul-Element ODER display: inline-block im li-Element */
/* 2. Entweder list-style: none im ul-Element ODER list-style-type: none im li-Element */
/* list-style is the shorthand to set list-style-type, list-style-position and list-style-image properties all in one declaration */

nav li {
  /* display: inline-block; */
  list-style-type: none;
  margin: 0 4vw;
  font-size: 5vh;
}

nav a {
  /*keine Linie unterhalb Link*/
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  /* padding: 2vw; */
}

nav a:hover {
  color: #8d1930;
}

nav .current {
  color: #8d1930;
}

main {
  margin: 0 4vw 0 4vw; /* top right bottom left */
}

.smicons {
  height: 50px;
  width: 50px;
}

ion-icon {
  color: white;
  height: 30px;
  width: 30px;
}

.fab {
  color: white;
  height: 30px;
  width: 30px;
}

.media-links {
  float: right;
  margin: 0 4vw 0 4vw; /* top right bottom left */
}

a:hover ion-icon {
  color: #8d1930;
}

#message,
input {
  display: block;
}

/* .media-links li:hover {
  color: #8d1930;
  border: 1px solid #8d1930;
} */

.media-links a:hover {
  color: #8d1930;
}

.flexbox-sp {
  width: 80%;
  background: #dadada;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /*Zeilenumbruch*/
  justify-content: space-between;
}

.flexelement-sp {
  width: 100%;
  padding: 15px 0 15px 0;
}

.flexbox {
  width: 80%;
  background: #dadada;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /*Zeilenumbruch*/
  justify-content: space-between;
}

.flexelement {
  width: 50%;
  padding: 15px 0 15px 0;
}

.flexelement-sp iframe {
  width: 50%;
  height: 100%;
}

.flexelement iframe {
  width: 95%;
  height: 100%;
}

#status {
  color: #ffffff;
}

.pagewrapper {
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
  font-size: 0.5em;
}
